In [9]:
import mysql.connector as mariadb

open the database connection using the connect method.
since we are opening something ..... what else we need to do?
*hint : close
we are using the print statement as a remainder

In [11]:
con = mariadb.connect(
            host="LocaLhost",
            user="root",
            password= "password",
            database="classicmodels"
)

print ("connecting to MariaDB Dtabase...")

connecting to MariaDB Dtabase...

In [6]:
cur = con.cursor()

st = "SELECT ProductLine, COUNT(*) \
      from products \
      WHERE productLine = '{}'"

cur.execute(st.format('Motorcycles'))

In [4]:
result = cur.fetchall()
print (result)

[('Motorcycles', 13)]

In [22]:
con.close()

Create test db

In [12]:
import mysql.connector as mariadb

con = mariadb.connect(
            host="LocaLhost",
            user="root",
            password= "password",
            database="classicmodels"
)

print ("connecting to MariaDB Dtabase...")
print("test db created")
con.close()

connecting to MariaDB Dtabase...
test db created

create a Registration table

In [13]:
import mysql.connector as mariadb

con = mariadb.connect(
            host="LocaLhost",
            user="root",
            password= "password",
            database="classicmodels"
)

print ("connecting to MariaDB Dtabase...")

cur=con.cursor()

st="create TABLE Registration \
    (id INTEGER,age INTEGER,\
        First VARCHAR(50),Last VARCHAR(50))"

cur.execute(st)

print("registration table is created")

con.close()

connecting to MariaDB Dtabase...
registration table is created

insert

In [14]:
import mysql.connector as mariadb

con = mariadb.connect(
            host="LocaLhost",
            user="root",
            password= "password",
            database="classicmodels"
)

print('connected to maridb..')

cur=con.cursor()

st="insert into Registration \
    (id,age,first,last) VALUES \
    (100,29,'MICHEAL','JORDAN'),\
    (101,29,'Diego','maradona'), \
    (102,33,'babe','Ruth'), \
    (103,40,'Wayne','Gretzky'), \
    (104,27,'michelle','Kwan'),\
    (105,35,'Steffi','Graf')"

connected to maridb..

update

In [15]:
import mysql.connector as mariadb

con = mariadb.connect(
            host="LocaLhost",
            user="root",
            password= "password",
            database="classicmodels"
)

print('connected to maridb..')

cur=con.cursor()

st = "UPDATE Registration \
    SET age = 30 WHERE id IN (100, 101) "

cur.execute(st)

con.commit()

print("Values are updated")

connected to maridb..
Values are updated